/* Стилизация кнопки */
@import url('../../assets/css/main.css');

.buttons-card__button-item {
    width: 189px;
    height: 48px;
    border: 0;
    border-radius: 0.5rem;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
}

.buttons-card_primary {
    color: var(--white);
    background-color: var(--blue);
}

.buttons-card_secondary {
    color: var(--white);
    background-color: var(--purple);
}

.buttons-card_alternate {
    color: var(--grey-4);
    background-color: var(--white);
    border: 1px solid var(--grey-3);
}

.buttons-card__button-item_disabled:disabled {
    opacity: 0.5;
}