/* Стилизация кнопки */
.button {
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-radius: 0.5rem;
    padding: 15px 65.58px 14px 66.42px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
}

.button_primary {
    color: var(--white);
    background-color: var(--blue);
}

.button_secondary {
    color: var(--white);
    background-color: var(--purple);
}

.button_alternate {
    color: var(--grey-4);
    background-color: var(--white);
    border: 1px solid var(--grey-3);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}