.histogram {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
    width: 26%;
}

.histogram__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
    color: var(--black);
}

.histogram__bottom {
    display: flex;
    flex: auto;
    align-items: end;
    gap: 1px;
}

.histogram__item {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    flex-basis: 50%;
}

.histogram__counter {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0;
    color: var(--black);
}


.histogram__link {
    color: var(--blue);
    text-decoration: none;
    padding-top: 3px;
}

.histogram__link:active {
    text-decoration: none;
}