.skeleton {
    box-sizing: border-box;
    padding: 32px 40px 32px 24px;
    width: 579px;
    height: 192px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;   
}

.skeleton__circle {
    margin-right: 16px;
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__bootom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__rectangles-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__rectangle-item {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__rectangle-item_short {
    width: 172px;
}

.skeleton__rectangle-item_midle {
    width: 257px;
}